 .cabecalho {
    background-color: rgb(255, 199, 218);
    display: flex;
    justify-content: space-around;
 }

.cabecalho-imagem{
    width: 20%;
    
}
.cabecalho-lista-item {
    display: inline-block;
    margin: 0 16px;
}